{
	email yo@mcabrera.dev
}

saddle.local {
  reverse_proxy next-app:3000
}

saddlebackbsas.com {
  reverse_proxy next-app:3000
}

# saddlebackbsas.com:443 {
#   tls internal
#   reverse_proxy next-app:3000
# }
